<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            position: absolute;
            margin-top: 50px;
            
        }
        img{
            width: 1600px;
    height: 1091px;
    margin-left: -10px;
    margin-top: -10px;
}
        
    </style>

</head>
<body>
    <h1>opened</h1>
<img src ="https://downtownnb.org/wp-content/uploads/2021/11/Kanamady-Boutique-1080x650.jpg"/>
</body>
</html>